@use 'base/variables' as v;

.footer {
  background-color: v.$color-grey-dark-2;
  color: v.$color-white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  transition: transform 0.3s;
  margin-top: auto;
  padding: 2rem 0;

  & span {
    font-weight: 700;
  }
}

.github:hover {
  transform: scale(1.2);
}
